@font-face {
  font-family: 'eina01-bold';
  src: url(../font/eina01-bold-webfont.woff2) format('woff2'), url(../font/eina01-bold-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'eina01-regular';
  src: url(../font/eina01-regular-webfont.woff2) format('woff2'), url(../font/eina01-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 17px;
  font-family: 'eina01-regular', Helvetica, sans-serif;
  color: #221e41;
  line-height: 1.7rem;
  width: 100%;
  background-color: #f5df4d;
  transition: all 1s;
}

h1,
h2,
h3 {
  font-family: 'eina01-bold', Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 1.2em;
}

.main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-flow: column;
  gap: 3rem;
  align-items: center;
}

.bg-change {
  background-color: blanchedalmond;
}

.column {
  min-width: 15rem;
  min-height: 60vh;
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
}
/* Revisi */
.revisions {
  background-color: transparent;
}
/* Harga Produk */

.kotak-produk {
  margin-top: 1rem;
}
.nama-produk {
  font-family: 'eina01-bold';
  font-weight: bold;
}
.nama-produk,
.penjelasan-produk {
  display: block;
}

.penjelasan-produk {
  color: grey;
}
.kotak-harga-produk {
  margin-top: 0.5rem;
  font-weight: bold;
}

.pricing {
  display: grid;
}

.total-harga-kontainer {
  display: grid;
  grid-auto-flow: column;
  text-align: right;
  align-items: end;
}

#total,
#DP {
  font-weight: bold;
  text-align: right;
}

.total-DP {
  font-size: 0.9rem;
  color: #666;
  text-align: left;
}
