body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7rem;
  width: 100%;
  background-color: burlywood; 
}

p, ul {
  font-size: 1.2rem;
}

li{
  margin-top: 1rem;
}
.main {
  display:grid;
  width: 70%;
  margin: 0 auto;
  grid-auto-flow: row;
}
.columns {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
}

@media (max-width: 50rem) {
  .columns {
    grid-auto-flow: row;
  }
